<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPL-La Paz limpia</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <div class="container">
            <p class="logo">Bienvenidos</p>
            <nav> 
                  <a href="#">Quienes somos</a>
                  <a href="#">Nuestros Programas</a>
                  <a href="/login">Login</a>
            </nav>
        </div>
    </header>
    <section id="hero">
        <h1>LA PAZ LIMPIA <br>Comprometidos para tener una mejor ciudad</h1>
        <form action="https://luisforgiarini.com/ejemplos-paginas-web-html-css-tutorial-edicion/">
        <button>Conocer mas</button>
    </form>
    </section>
    <!-- Esto es un comentario en HTML -->
     <!--Ortro section-->

     <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <h2>La importancia de mantener una una ciudad limpia</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Itaque obcaecati quas optio commodi fugiat blanditiis 
                doloribus porro ratione nam. Repellendus accusantium natus ullam
                 ex corrupti corporis
                 iusto consequuntur quod officiis?</p>
        </div>
     </section>

     <section id="nuestros-programas">
        <div class="container">
            <h2>Nos enfocamos</h2>
            <div class="carta"><h3>Barrido de calles</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in asperiores dolor totam exercitationem hic vel, corporis, repellendus delectus consectetur laboriosam aliquid
                     dolores, placeat nobis quaerat 
                     tempora modi molestiae quo.</p>
                     <button>+ Info</button>
                </div>
                <div class="carta"><h3>Recoleccion y tranporte de basura</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in asperiores dolor totam exercitationem hic vel, corporis, repellendus delectus consectetur laboriosam aliquid
                     dolores, placeat nobis quaerat 
                     tempora modi molestiae quo.</p>
                     <button>+ Info</button>
                </div>
                <div class="carta"><h3>Barrido automatico</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in asperiores dolor totam exercitationem hic vel, corporis, repellendus delectus consectetur laboriosam aliquid
                     dolores, placeat nobis quaerat 
                     tempora modi molestiae quo.</p>
                     <button>+ Info</button>
                </div>
        </div>
       
     </section>

     <section id="caracteristicas">
        <div class="container">
        <ul>
            <li>📌Noticias</li>
            <li>📌 Horarios de trabajo</li>
            <li>📌 Reclamos</li>
            <li>📌 Trabaja con nostros</li>
        </ul>
        </div>  
     </section>


     <section id="aplica-ya">
        <h2>Conoce sobre el reciclaje</h2>
        <button>+ Info reciclaje</button>
     </section>
     <footer>
        <div class="container">
            <p>&copy;La Paz Limpia</p>
        </div>
     </footer>


</body>
</html>